{% extends 'bedrock/index.html' %}
{% load static %}
{% block dashboard %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Campus Ambassador's Points System</h1>
        </div>
    </div>
    {{errors}}
    <br>
    <h4>
        <ol>
            <li>Share our posts on your Facebook timeline and groups- 25 points per share.</li>
            <li>Put our posts(with caption and also tag @zealicon) as your Instagram Story- 20 points</li>
            <li>Put our posts as your WhatsApp Status- 15 points</li>
            <li>Share our posts on your WhatsApp Groups- 10 points each share</li>
            <li>Display our posters on notice boards in your college campus- 60 points</li>
            <li>Get students to register for Zealicon’19
                <ul>
                    <li>5 registrations - 100 points</li>
                    <li>10-20 registrations- 200 points</li>
                    <li>20-30 registrations- 400 points</li>
                    <li>40+ registrations- 50 points per registration</li>
                </ul>
            </li>
            <li>Give us contact details of students incharge of technical activities- 75 points per contact</li>
            <li>Organize a briefing for your college students to inform them about Zealicon’19  (Video proof needed)-125 points</li>
        </ol>
    </h4>
    <h2><u>Save all the screenshots or required proof for the completion of tasks in google drive (under the subject: ”Screenshots of zealicon tasks”) and share  the google drive link to the zealicon website so that we can evaluate all the points.</u></h2>
</div>

{% endblock %}


