{% extends 'bedrock/index.html' %}
{% load static %}
{% block dashboard %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Campus Ambassador's Instructions</h1>
        </div>
    </div>
    {{errors}}

    <h1>Congratulations ! </h1>
    <br>
    <h4>
        You’ve been shortlisted among the various applications received. Given below are the instructions to be followed before proceeding with the tasks.
        <br>
        <br>
        <ul>
            <li>Sign up on the official website of Zealicon (<a href="http://zealicon.in">www.zealicon.in</a>).</li>
            <li>After your sign up is verified and confirmed, click on the ‘Dashboard’.</li>
            <li>Here you'll find all the tasks assigned to you.</li>
            <li>The tasks in <b>GREEN</b> color represent the active tasks where as those in <b>RED</b> represent deactivated tasks.</li>
            <li>Submissions are allowed only for the active tasks.</li>
            <li>Submit the task on or before the assigned time limit to avoid disqualification.</li>
            <li>CA points will be assigned according to the CA points table after the completion of task and credits will be distributed eventually.</li>
            <li>The leaderboard will be regularly updated, you can check it for the scores update.</li>
            <li>The Top performing Campus Ambassadors will be rewarded with T-shirts, special goodies and vouchers, and prizes worth RS 1500.</li>
        </ul>
    </h4>
    <h3><u>Save all the screenshots or required proof for the completion of tasks in google drive (under the subject: ”Screenshots of zealicon tasks”) and share  the google drive link to the zealicon website so that we can evaluate all the points.</u></h3>
</div>

{% endblock %}


